

# deploys core and whitelist contracts
DEPLOYER_MNEMONIC=change typical hire slam amateur loan grid fix drama electric seed label
# Address: 0x3097403B64fe672467345bf159F4C9C5464bD89e
# Private Key: 0x67195c963ff445314e667112ab22f4a7404bad7f9746564eb409b9bb8c6aed32

DISABLE_ZK_CHECKS=false

NETWORK_URL=http://localhost:8545

PROJECT_ID=hardhat